.masthead {
    min-height: 100vh;
    font-family: 'Cascadia Code', 'Fira Code', 'Noto Mono';
}

p {
    margin-bottom: 0 !important;
}

.col {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

$body-bg: #333;
$body-color: #fff;


$primary: #643173;
$secondary: #1A936F;
$custom-colors: (
    "primary-accent": #7D5BA6,
    "secondary-accent": #88D498
);

@import "node_modules/bootstrap/scss/bootstrap.scss";

$theme-colors: map-merge($theme-colors, $custom-colors);